html { font-size: 10px; }

body { font-family: "Lexend", "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #111111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

#header { width: 100%; position: fixed; z-index: 100; top: 0; }

#header #logo { position: absolute; left: 20px; top: 20px; }

#header #logo a { height: 20px; }

#header #logo a img { width: 130px; }

#header #logo a .color { display: none; }

#header .menu { position: fixed; width: 100%; top: 0; bottom: 0; left: 100%; background-color: #fff; -webkit-transition: 0.5s; transition: 0.5s; padding-top: 60px; }

#header .menu.on { left: 0; }

#header .menu #gnb .list { padding: 0 20px; }

#header .menu #gnb .list > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 60px; position: relative; font-size: 1.8rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-weight: 500; border-bottom: 2px solid #f5f5f5; }

#header .menu #gnb .list > li .depth02 { width: 100%; }

#header .menu #gnb .list > li .depth02 li { display: none; }

#header .menu #gnb .list > li .depth02 li a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 40px; padding: 0 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #f5f5f5; }

#header .menu .etc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-transform: uppercase; }

#header .menu .etc .sns { margin-bottom: 80px; }

#header .menu .etc .sns button { display: none; }

#header .menu .etc .sns ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .menu .etc .sns ul li { width: 20%; position: relative; }

#header .menu .etc .sns ul li:before { content: ""; display: block; padding-top: 100%; }

#header .menu .etc .sns ul li a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 0; }

#header .menu .etc .sns ul li a:before { background-image: url(../images/layout/m_utility.png); content: ""; display: block; position: absolute; width: 50px; height: 50px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-size: 250px; }

#header .menu .etc .sns ul li:nth-child(1) a:before { background-position: 0 0; }

#header .menu .etc .sns ul li:nth-child(2) a:before { background-position: -50px 0; }

#header .menu .etc .sns ul li:nth-child(3) a:before { background-position: -100px 0; }

#header .menu .etc .sns ul li:nth-child(4) a:before { background-position: -150px 0; }

#header .menu .etc .sns ul li:nth-child(5) a:before { background-position: -200px 0; }

#header .menu .etc .language { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .menu .etc .language button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 30px; border: 2px solid #f5f5f5; border-radius: 100px; }

#header .menu .etc .language button span { color: #1dcb5d; margin-right: 10px; }

#header .menuBar { width: 30px; height: 30px; position: absolute; right: 20px; top: 20px; }

#header .menuBar.on > span { z-index: -1; }

#header .menuBar.on p { display: block; }

#header .menuBar > span { position: absolute; width: 25px; height: 2px; background-color: #e6e6e6; border-radius: 100px; left: 2px; }

#header .menuBar > span:nth-child(1) { top: 7px; }

#header .menuBar > span:nth-child(2) { top: 14px; }

#header .menuBar > span:nth-child(3) { top: 21px; }

#header .menuBar p { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: none; }

#footer { margin-top: 50px; padding: 50px 10px; background-color: #f5f5f5; }

#footer .contents { font-size: 1.4rem; text-align: center; }

#footer .contents .addressBox { color: #999; }

#footer .contents .addressBox .logo { margin-bottom: 20px; }

#footer .contents .addressBox .logo img { width: 130px; }

#footer .contents .addressBox address .info span { display: block; margin-bottom: 5px; }

#footer .contents .addressBox address .info span:nth-of-type(3) { margin-bottom: 20px; }

#footer .contents .addressBox address .info a { font-weight: 700; }

#footer .contents .addressBox address .copyright { margin-top: 20px; font-size: 1.2rem; }

#footer .contents .addressBox .link, #footer .contents .addressBox .personalinfo { border-radius: 100px; padding: 10px 20px; background-color: #111111; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }

#footer .contents .addressBox .link span, #footer .contents .addressBox .personalinfo span { color: #1dcb5d; font-size: 1.2rem; font-weight: 700; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-left: 5px; }
