@import "vars";
@import "mixins";

.titleBox {
  line-height: 1.5;
  h2 {
    margin-bottom: 20px;
    font-size: $large-size;
    font-weight: 600;
  }
  p {
    font-size: $normal-size;
  }
}
.btns {
  display: flex;
  justify-content: center;
  .btn {
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
    border: 1px solid $border-color;
    border-radius: 100px;
    @include flexCenter();
  }
  .large {
    width: 100%;
    padding: 15px 50px;
  }
}
// 버튼은 크기가 일정

#main {
  #mainVisual {
    li {
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &.visual01 {
        background-image: url(../images/main/bg1.jpg);
      }
      &.visual02 {
        background-image: url(../images/main/bg2.jpg);
      }
      &.visual03 {
        background-image: url(../images/main/bg3.jpg);
      }
    }
    .slogan {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      color: $white-color;
      text-align: center;
      transform: translate(-50%, -50%);
      .main {
        font-size: 40px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        font-weight: 500;
      }
      .sub {
        margin-top: 20px;
        font-size: $medium-size;
      }
      a {
        display: inline-flex;
        margin-top: 30px;
        padding: 10px 20px;
        border: 1px solid $white-color;
        transition: 0.25s;
        align-items: center;
        border-radius: 100px;
        span {
          margin-left: 5px;
          color: $main-color;
        }
      }
      .pagination {
        margin-top: 40px;
        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;
          background: none;
          border: 2px solid $white-color;
          opacity: 1;
          transition: 0.25s;
          border-radius: 100px;
          &-active {
            width: 80px;
            background-color: $white-color;
          }
        }
      }
    }
  }
  // mainVisual end
  #product {
    overflow: hidden;
    position: relative;
    .titleBox {
      position: absolute;
      top: 50px;
      left: 15px;
      z-index: 2;
    }
    .list {
      li {
        position: relative;
        img {
          width: 100%;
        }
        a {
          position: absolute;
          left: 10px;
          bottom: 40px;
          padding: 5px 10px;
          border: 1px solid $border-color;
          transition: 0.25s;
          border-radius: 100px;
          @include flexCenter();
          span {
            margin-left: 10px;
            color: $main-color;
          }
        }
      }
    }
    .btns {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      button {
        background-color: $white-color;
        border-radius: 0;
        border: none;
        @include box(30px);
        @include flexCenter();
        span {
          font-size: $x-large-size;
        }
      }
    }
  }
  // product end
  #news {
    padding: 50px 0;
    .contents {
      box-sizing: border-box;
      padding: 20px;
      overflow: hidden;
      .titleBox {
        text-align: center;
      }
      .list {
        display: flex;
        justify-content: space-between;
        li {
          margin-top: 50px;
          a {
            height: 300px;
            display: block;
            position: relative;
            border: 1px solid $light-gray-color;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            &:before {
              content: "";
              display: block;
              padding-top: 80%;
            }
            // padding-top: 100% -> width의 100%(정사각형) - 반응형에 씀
            .img {
              @include box(100%);
              position: absolute;
              top: 0;
              left: 0;
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: cover;
            }
            .txtBox {
              position: absolute;
              left: 0;
              bottom: -30px;
              width: 100%;
              background-color: $white-color;
              padding: 30px;
              box-sizing: border-box;
              word-break: keep-all;
              h3 {
                font-size: $medium-size;
                @include multiEllipsis();
                margin-bottom: 20px;
              }
              p {
                color: darken($light-gray-color, 20);
                margin-bottom: 20px;
              }
              .txt {
                @include multiEllipsis();
              }
            }
          }
        }
      }
      .btns {
        margin-top: 30px;
      }
    }
  }
  // news end
  #cs {
    .contents {
      ul {
        li {
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 30px;
          &:nth-child(1) {
            background-image: url(../images/main/bg_contact.jpg);
          }
          &:nth-child(2) {
            background-image: url(../images/main/bg_charge.jpg);
          }
          a {
            display: flex;
            height: 100px;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            .txtBox {
              font-size: $normal-size;
              color: $white-color;
              strong {
                font-size: $medium-size;
                display: block;
                margin-bottom: 10px;
              }
            }
            .btn {
              @include flexCenter();
              @include box(30px);
              background-color: $text-color;
              color: $white-color;
              border-radius: 100px;
              font-size: 0;
              span {
                color: $main-color;
                font-size: $normal-size;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  // cs end
}
// main end
